<!doctype html>
<html>
<head><title>{{ action }} Entry</title></head>
<!-- Quill Styles -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<!-- Quill JS -->
  <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

<body>
    <h1>{{ action }} Entry</h1>
    <form method="post">
	    <label>title : </label>
        <input type="text" name="name" value="{{ entry.get('name', '') }}" required ><br>
		<label>Description : </label>
		 <textarea name="des" id="des"  value="{{ entry.get('des', '') }}"  rows="10" cols="30"></textarea><br><br>

        <button type="submit">{{ action }}</button>
    </form>
    <a href="{{ url_for('index') }}">Back</a>
	
   <script>
        CKEDITOR.replace('des');
    </script>

</body>
</html>
